@model IEnumerable<ASLRD_r3.DAL.commentaire>

@{
    ViewBag.Title = "Rechercher";
    Layout = "~/Views/Shared/_Layout.cshtml";    
}
<br />
<h2>@ViewBag.Title votre restaurant</h2>

@using (Html.BeginForm("GetRestaurant", "Home", new { cityname = "ville" }, FormMethod.Get))
{
    <p>
        Find by name: @Html.TextBox("cityname")
        <input type="submit" value="Rechercher" />
    </p>
    <p class="message-error">@ViewBag.error</p>
}
<br />
<h2>Commentaire</h2>
<table>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.commentaire1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.note)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.datecommentaire)
            </td>
            <!--<td>
                @Html.DisplayFor(modelItem => item.restaurantID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.clientID)
            </td>   
            -->       
        </tr>
    }
</table>