@model IEnumerable<ASLRD_r3.DAL.produit>

@{
    ViewBag.Title = "Produit";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string cityname = Request.Params["cityname"];
    string restaurantname = Request.Params["restaurantname"];
}

<br />
<h2>Liste des produits pour @restaurantname de <a href="@Url.Action("GetRestaurant", "Home", new { cityname = @cityname })">@cityname</a></h2>

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.prixproduit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.delais)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.reduction)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.prixproduit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.delais)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.reduction)
            </td>
            <td>
                @Html.ActionLink("Ajouter", "AddToPanierTMP", new { produitID = @item.produitID, restaurantID = @item.restaurantID, CommandeID = @ViewData["CID"] })
            </td>
        </tr>
    }
</table>
@Html.ActionLink("voir", "GetCommande", new { CommandeID = @ViewData["CID"] })
@using (Html.BeginForm("GetCommande", "Home", new { CommandeID = @ViewData["CID"] }, FormMethod.Get))
{
    <p>
        <input type="submit" value="Afficher commande" />
    </p>
    <p class="message-error">@ViewBag.error</p>
}