@model IEnumerable<ASLRD_r3.DAL.restaurant>

@{
    ViewBag.Title = "Restaurant";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div></div>
<h2>Liste des restaurants pour la ville de @ViewData["cityname"]</h2>

<table id="grid-restaurant">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.telephone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.genre)
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.telephone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.genre)
            </td>
            <td>
                @Html.ActionLink("La carte", "GetProduit", new { restaurantID = @item.restaurantID })
            </td>
        </tr>
    }
</table>
