<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - ASLRD</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <link rel="stylesheet" href="~/Content/Site.css">
        <link rel="stylesheet" href="~/Content/themes/base/jquery.ui.autocomplete.css">
        <meta name="viewport" content="width=device-width" />
        <script src="//code.jquery.com/jquery-1.8.2.js"></script>
        <script src="//code.jquery.com/ui/1.8.24/jquery-ui.js"></script>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <a href="@Url.Action("AdresseAC", "Home")" class="site-logo"></a>
                </div>
                <div class="float-right">                   
                    <ul id="menu">
                        @Html.Partial("_LoginPartial")
                        <li>@Html.ActionLink("Adresse", "AdresseAC", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - My ASP.NET MVC Application</p>
                </div>
            </div>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>
</html>
